build
cmake-build-*
target
images
db
.clangd
.vscode
.idea
.cache
*.log
*.override.yml
*esp-test
sdkconfig.*
managed_components
*.lock
config.toml
*/testMacros.hpp
esp32-cam/inc/testMacros.hpp
*idf_component.yml
target
*/ideas.txt
certs
