* {
    background: black;
    color: white;
}



img {
    margin: 50px;
    max-width: 50%;
    height: auto;
}

.active {
    background-color: #4CAF50;
}

#nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

#nav li {
    display: inline;
    margin-right: 5rem;
}
